.navbar{
    background-color: #f4decb;
}

.titleDiv{
    background-color: #f4decb;
}

.myMainTitle{
    font-family: 'Frijole', cursive;
    color: BLACK;
}

.myTitle{
    font-family: 'Frijole', cursive;
    color: BLACK;
}

.myBackColor{
    background-color: #f4decb;
    color: BLACK;
}

.footerDiv{
    background-color: #f4decb;
}
