.navbar{
    background-color: #F4DECB;
}

.titleDiv{
    background-color: #F4DECB;
}

.myMainTitle{
    font-family: 'Frijole', cursive;
    color: BLACK;
}

.myTitle{
    font-family: 'Frijole', cursive;
    color: BLACK;
}

.myBackColor{
    background-color: #F4DECB;
    color: BLACK;
}

.footerDiv{
    background-color: #F4DECB;
}
